# Virtual environment
venv/
.env

# Django
*.log
db.sqlite3
/static/
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
*.so

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Temporary and cache files
*.tmp
*.swp
*.bak

# Test reports and coverage
.coverage
*.cover
coverage.xml
htmlcov/